name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Nushell
        uses: hustcer/setup-nu@v3
        with:
          version: "*"

      - name: Install nutest
        run: git clone https://github.com/vyadh/nutest.git ../nutest

      - name: Run tests
        run: nu toolkit.nu testing --json

      - name: Show diff of changed files
        if: always()
        run: git diff
